.logo {
    width: 5rem;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (max-width: 900px) {
    .canvas_img {
        width: 100%;
        height: auto;
    }

    p {
        font-size: 1.5rem;
    }
  }